<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<h1>Book List</h1>
<table>
    <thead>
    <tr>
        <th>책 코드</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판사</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}">
        <td th:text="${book.bookCode}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>